:root {
  --WhiteGreyColor: #e5e5e5;
  --widgetColor: #c4c4c4;
  --HeaderColor: #ababab;
  --FooterColor: #999999;
  --BorderColor: #666666;
  --WhiteColor: #ffffff;
  --BlackColor: #333;
  --UltraBlackColor: #000000;
  --ErrorColor: #c96b6b;
  --SidebarColor: #eee;
}
