.upload_container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
  margin: 30px 500px 0 20px;
}

.choose_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 377px;
}

.upload_img {
  height: 377px;
  filter: grayscale(100%);
  margin: 0 0 20px 0;
  object-fit: cover;
}

.choose_button {
  display: none;
}

.choose_link {
  margin: 0 auto 40px;
  font: normal 18px "Roboto Mono", sans-serif;
  color: var(--BorderColor);
  text-decoration: underline;
  cursor: pointer;
}

.upload_label {
  font: normal 14px "Roboto Mono", sans-serif;
  color: var(--UltraBlackColor);
}

.upload_email {
  width: 377px;
  height: 60px;
  margin: 0 20px 40px 0;
  border: 1px solid var(--BlackColor);
  box-sizing: border-box;
  background-color: var(--SidebarColor);
  font: normal 18px "Roboto Mono", sans-serif;
  color: var(--BlackColor);
  text-align: center;
}

.upload_name {
  width: 377px;
  height: 60px;
  margin: 0 0 40px 0;
  border: 1px solid var(--BlackColor);
  box-sizing: border-box;
  background-color: var(--SidebarColor);
  font: normal 18px "Roboto Mono", sans-serif;
  color: var(--BlackColor);
  text-align: center;
}

.upload_button {
  width: 377px;
  height: 60px;
  text-align: center;
  margin: 0 0 0 500px;
  border: 1px solid var(--BlackColor);
  box-sizing: border-box;
  background-color: var(--widgetColor);
  font: normal 18px "Roboto Mono", sans-serif;
  color: var(--BlackColor);
}

@media only screen and (max-width: 850px) {
  .upload_container,
  .upload_button {
    margin: auto;
  }

  .choose_container,
  .upload_email,
  .upload_name {
    margin: 0;
  }

  .choose_link {
    margin: 0 auto;
  }

  .upload_button {
    position: inherit;
  }
}

@media only screen and (max-width: 715px) {
  .choose_container,
  .upload_email,
  .upload_name,
  .upload_button,
  .choose_link {
    font-size: 14px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .choose_container {
    max-width: 300px;
  }

  .upload_button,
  .upload_email,
  .upload_name {
    width: 300px;
    height: 40px;
  }

  .upload_img {
    height: 300px;
  }
}
